@font-face {
    font-family: 'Gallant';
    src: url("../font/Gallant/Gallantregular.otf") format("otf"), 
    url("../font/Gallant/Gallantregular-italic.otf") format("otf"), 
    url("../font/Gallant/Gallantbold.otf") format("otf"), 
    url("../font/Gallant/Gallantbold-italic.otf") format("otf"), 
    url("../font/Gallant/Gallantblack.otf") format("otf"), 
    url("../font/Gallant/Gallantblack-italic.otf") format("otf"), 
  } 

@import url('http://fonts.cdnfonts.com/css/circular-std');

html {
  scroll-behavior: smooth;
}

body{
  color: black;
  margin: 0;
}
.header__navbar {
  background: #FEFEFE;
  padding: 1vh 0 1vh 0;
}

.sticky {
  position: fixed;

  width: 100%
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navbar img{
  margin-left: 2vw;
}

.header__navbar--btn {
  display: flex;
  justify-content: flex-end;
  gap: 3vw;
  margin-right: 5vw;
}

.header__navbar--btn a {
  margin-top: 2vh;
  font-family: 'Circular Std';
  font-weight: bold;
  font-size: 18px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  position: relative;
}

.header__navbar--btn a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #EA9206;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.header__navbar--btn a:hover:after {
  width: 100%;
  left: 0;
}


@media screen and (max-width: 500px) {
  .header__navbar{
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .header__navbar--btn{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  
  body::-webkit-scrollbar-track {
    display: none; /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    display: none;
  }


}


body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(244, 244, 244); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(186, 186, 186); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(186, 186, 186); /* creates padding around scroll thumb */
}