body{
    height: 100%;
}

h2{
    font-family: "Circular Std";
    font-weight: bolder;
    font-size: 70px;
    display: block;
}
.home__section{
   display: inline;

    /* background-image: url("/images/velo-background.png");
    background-repeat: no-repeat;
    background-position: right; */
}
.home__section--box{
    margin-left: 6vw;
    background-image: url("/images/velo-background.png");
    background-repeat: no-repeat;
    background-position: right;
    width: auto;
    height: 140vh;
}

.home__section--box img{
    visibility: visible;
    margin-bottom: 5vh;
}
.home__section--paragraph p{
    font-family: "Gallant";
    font-size: 35px;
    margin: 0;
}



.home__section a{
    background-color: #FEFEFE;
    border: solid 4px #FFA944;
    text-decoration: none;
    color: #2C2C2C;
    border-radius: 150px;
    padding: 2vh 3vw 2vh 3vw;
    font-family: 'Circular Std Book';
    font-size: 40px;
}


.video__section{
    margin-left: 10vw;
    background-color: #FEFEFE;
    
    
}

.video{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.def__section--paragraph{
    height: 1084px;
    background-image: url("/images/couple-background.png");
    background-repeat: no-repeat;
    background-position: left;
    margin: 0;
}

.def__section h2{
    margin-left: 10vw;
}

.def__section--paragraph p{
    margin-left: 10vw;
}
.def__section--paragraph h3{
    margin-left: 10vw;
}







@media screen and (max-width: 500px) {
    .home__section{
        width: auto;
        height: 1084px;
        margin-left: 0;
        background-size: 75% ;
        
    }
    .home__section--box{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: 90% ;
        margin-left: 3vw;
    }
    .home__section--box img{
        display: none;
    }
    .home__section a{
        font-size: 30px;
        margin-top: 3vh;
    }
    
    .home__section--paragraph p{
        font-weight: bold;
        display: flex;
        align-items: center;

    }
    section{
        margin-left: 2vh;
    
    }
    h2{
        font-size: 50px;
    }
    .home__section--paragraph{
        margin-top: 3vh;
    }
  
  }